@import "./reset.css";

:root {
    --app-dark-grey-bg:#2c2d33;
    --app-dark-bg:#131313;
    --app-light-bg:#f1f2f3;
    --app-light-text-color:rgb(244, 246, 248);
    --app-red:#ff3c57;
    --app-green:#46737C;
    --app-purple:#6564DB;
    --app-orange:#ff833c;
    --app-light-blue:#89D2DC;
    --app-blue:#232ED1;
    --app-dark-blue:#101D42;
    --app-btn-height: 46px;
    --app-btn-width: 100%;
    --app-light-text-color: #f4f6f8;
    --app-dark-text-color: #1c1c1c;

    --app-letter-spacing: 0.2px;
    --app-header-line-height: 56px;
    --app-footer-line-height: 40px;
    --app-text-line-height: 50px;
    --app-h2-font-size: 17px;
    --app-p-font-size: 14px;
}
    
body {
    background: var(--app-light-bg);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/

.flexbox {
    display: flex;
}

/**************************************************/
/*****      HEADER                           ******/
/**************************************************/

header {
    background-color: var(--app-blue);
    line-height: var(--app-header-line-height);
    height: 56px;
}

header .title {
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 25px;
    font-weight: 600;
    color: var(--app-light-text-color);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li + li {
    margin-left: 18px;
}

nav ul li a {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: var(--app-letter-spacing);
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    text-decoration: none;
    color: var(--app-light-text-color);
    position: relative;
}

/* Scale from center */
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--app-light-text-color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

nav ul li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

nav ul li a:hover::after,
nav ul li a:focus::after{
    transform: scale(1);
}

/**************************************************/
/*****      MAIN                             ******/
/**************************************************/

.container .details {
    margin: 20px 0px;
}

.container .details .heading {
    margin-bottom: 20px;
    text-align: center;
}

.container .details .heading h1 {
    font-size: 25px;
    font-weight: 700;
    color: var(--app-dark-text-color);
}

.container .details .lat-long {
    color: var(--app-dark-text-color);
    text-align: left;
}

section {
    min-height: calc(100vh - 56px - 112px);
    position: relative;
}

section #map { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/**************************************************/
/*****          Overlay Screens              ******/
/**************************************************/

dialog {
    width: 410px;
    background-color: var(--app-light-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    border-radius: 10px;
    padding: 20px;
    animation: appearDown 0.25s ease-out;
}

dialog::backdrop {
    background-color: rgb(13 16 19 / 0.3);
    backdrop-filter: blur(10px);
}

dialog h2 {
    font-size: 22px;
    font-weight: 600;
    color: var(--app-dark-blue);
    margin-bottom: 10px;
    text-align: center;
}

dialog .about span {
    font-size: 17px;
    font-weight: 500;
    color: var(--app-purple);
}

dialog .about p {
    font-size: 16px;
    font-weight: 400;
    color: var(--app-dark-text-color);
    margin-bottom: 15px;
}

dialog .how-to {    
    border-top: 1px solid rgba(35, 46, 209, 0.3);
    padding: 15px;
}

dialog .how-to ul {
    font-size: 15px;
    font-weight: 400;
    color: var(--app-dark-text-color);
    margin-bottom: 15px;
}

/**************************************************/
/*****      FOOTER                           ******/
/**************************************************/

footer {
    height: 112px;
    background-color: var(--app-purple);
    padding: 36px 0;
    z-index: 9999;
}

footer .flexbox {
    justify-content: space-between;
}

/* Footer Social */
footer .social-icons ul {
    list-style: none;
}

footer .social-icons ul li {
    display: inline;
}

footer .social-icons ul li + li {
    margin-left: 20px;
}

footer .social-icons ul li {
    font-size: 17px;
    color: var(--app-light-text-color);
    font-weight: 400;
    letter-spacing: var(--app-letter-spacing);
    line-height: var(--app-footer-line-height);
}

footer .social-icons ul li a {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: var(--app-letter-spacing);
    cursor: pointer;
    text-decoration: none;
    color: var(--app-light-text-color);
}

/* Icon Hover effect */
footer .social-icons ul li:hover {
    cursor: pointer;
}

/* Footer Copyright */
footer .copyright p {
    font-size: 17px;
    color: var(--app-light-text-color);
    font-weight: 400;
    letter-spacing: var(--app-letter-spacing);
    line-height: var(--app-footer-line-height);
}

/**************************************************/
/*****       Animations                      ******/
/**************************************************/

@keyframes appearDown {
    from {
        opacity: 0;
        transform: translate(0px, -10px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}